.app {
  display: inline-flex;
  flex: 1;
}

.side-bar {
  background-color: #364A73;
  min-height: 780px;
  min-width: 260px;
  color: white;
  overflow-y: auto;
}

.bar-control {
  padding: 10px 0px 10px 20px;
}

.bar-control div {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bar-control div:hover {
  cursor: pointer;
  color: darkorange
}

.bar-control div.selected {
  background-color: orange;
  color:  #364A73;
}

.select-reminder {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
  color: darkcyan;
}

.empty-reminder {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
  color: gray;
  text-align: center
}
.board {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  margin: 10px 
}

.input-box input {
  border: 1px solid darkgray;
  border-radius: 5px;
  height: 30px;
  min-width: 700px;
  position: absolute;
  bottom: 0px;
  font-size: 16px;
}

.message-info {
  display: flex;
  margin-top: 10px;
}

.image {
  border: 1px solid gray;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}