.app {
  display: flex;
  flex-direction: row;
}
.side-bar {
  background-color: #364A73;
  height: 800px;
  width: 260px;
  color: white;
}

.bar-control {
  padding: 10px 0px 10px 20px;
}

.bar-control div {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bar-control div.selected {
  background-color: orange;
  color:  #364A73;
}
.board {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.message-info {
  display: flex;
  margin-top: 10px;
}

.image {
  border: 1px solid gray;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}